/* Set background color and font styles */
body {
    background-color: #f7f7f7; /* Light gray background */
    font-family: Arial, sans-serif;
    max-width: 1000px;
    margin: 60px auto;
    padding: 60px;
}

/* Center the content horizontally */
.container {
    max-width: 1000px;
    margin: 60px auto;
    padding: 60px;
}

/* Style the header */
h1 {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px; /* Rounded corners for the header */
}

/* Style the instructions */
#instructions {
    background-color: #fff; /* White background */
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ddd; /* Light gray border */
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Light shadow */
}

/* Style the table */
#bookingTable {
    width: 100%;
    background-color: #fff; /* White background */
    border: 1px solid #ddd; /* Light gray border */
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Light shadow */
    margin-bottom: 10px;
}

/* Apply custom widths to the first and second columns */
#bookingTable th:nth-child(1),
#bookingTable td:nth-child(1) {
    width: 5%;
}

#bookingTable th:nth-child(2),
#bookingTable td:nth-child(2) {
    width: 20%; /* Adjust the width as needed for the second column */
}

#bookingTable th,
#bookingTable td {
    padding: 10px;
    text-align: left; /* Left-align text */
}

/* Style the buttons */
button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
}

