@import url('common.css');

#bookingTable {
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

#bookingTable th:nth-child(1),
#bookingTable td:nth-child(1) {
    width: 5%;
}

#bookingTable th:nth-child(2),
#bookingTable td:nth-child(2) {
    width: 20%;
}

#bookingTable th,
#bookingTable td {
    padding: 10px;
    text-align: left;
}
