<!DOCTYPE html>
<html>
<head>
    <title>Booking Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/booking_lists.css') }}">
</head>
<body>
<h1>{{ course_code.upper() }}</h1>

<div id="instructions">
    <p>Instructions go here...</p>
</div>

<table id="bookingTable">
    <thead>
    <tr>
        <th></th>
        <th style="width: 15%;">Time</th>
        <th style="width: 45%;">Description</th>
        <th style="width: 20%;">Location</th>
        <th style="width: 10%;">Length</th>
        <th style="width: 10%;">Slots</th>
    </tr>
    </thead>
    <tbody>
    {% for booking in booking_lists %}
        <tr>
            <td><input type="radio" name="selectedBooking" value="{{ booking.id }}"></td>
            <td>{{ booking.time }}</td>
            <td>{{ booking.description }}</td>
            <td>{{ booking.location }}</td>
            <td>{{ booking.interval }} min</td>
            <td style="text-align: center;">{{ booking.max_slots }}</td>

        </tr>
    {% endfor %}
    <tr id="newBookingRow" style="display: none;">
        <td>
            <button id="newBookingRowSubmitBtn" style="width: 100%;">+</button>
        </td>
        <td><input type="text" id="inputTime" placeholder="Time" style="width: 100%;"></td>
        <td><input type="text" id="inputDescription" placeholder="Description" style="width: 100%;"></td>
        <td><input type="text" id="inputLocation" placeholder="Location" style="width: 100%;"></td>
        <td><input type="text" id="inputLength" placeholder="Minutes" style="width: 80%;"></td>
        <td><input type="text" id="inputSlots" placeholder="# Slots" style="width: 80%;"></td>

    </tr>
    </tbody>
</table>

<button id="selectBookingBtn">Select Booking List</button>
<button id="showMyBookingsBtn">Show My Bookings</button>
{% if user_privileges %}
    <button id="addBookingListBtn">Add Booking List</button>
    <button id="removeBookingListBtn">Remove Booking List</button>
{% endif %}
<script> const course_code = "{{ course_code }}"; </script>
<script src="{{ url_for('static', filename='js/booking_lists.js') }}"></script>
</body>
</html>
